#login
  position relative
  .login
    width 100%
    &-row
      width 100%
      height 100vh
    &-img
      background-color #FFCB05
    &-img
      width 100%
      display flex
      flex-direction column
      align-items center
      justify-content center
      .logo-title
        display flex
        flex-direction column
        align-items center
        .logo-img
          width 50px
          img
            width 100%

        h2
          color #41529F
          font-weight: 900;
      .logo-bg
        max-width 400px
    &-content
      position relative
      display flex
      align-items center
      justify-content center
      &-box
        max-width 60%
        width 100%
        .login-title
          text-align center
          h1
            font-size 36px
            color #41529F
            font-weight 600
            margin-bottom 5px
          h3
            font-size 18px
            font-weight 900
            color #000
        .form
          position relative
          margin-top 40px
          &-group
            display block
          .login-btn
            color #fff
            background-color #41529F
            width 100%
            margin-top 20px